:host {

  .my-name{
    max-width: 760px;
    margin-top: 15px;
    padding: 1rem 1.4rem;
    border-radius: 14px;
    color: #dce2d6;
    font-size: 25px;
    background-color: rgb(99, 12, 42);
    &:hover{
      color: #352720;
    }
  }

  .skills-text{
    color: #352720;
    font-size: 15px;
  }

  container{
    background-color: rgb(55, 46, 34);
  }

  
  
}
