
<!-- Go ahead and add your name -->
<!-- Add a picture of yourself -->
 <div class="my-name">Nikila Bashyam</div>
 <img src="https://static.wikia.nocookie.net/binguston/images/d/d6/Hqdefault_%283%29.jpg/revision/latest/thumbnail/width/360/height/360?cb=20220827231254"/>
 <div class="titles">
    Skills
    <div class="skills-text">
        <ul>
            <li>Python</li>
            <li>Java</li>
            <li>C</li>
            <li>Taking Naps</li>
        </ul>
    </div>
    Experience
    <div class="exp-text">
        Pricer, The Echo Shop
    </div>
 </div> 

<!-- Include leadership positions, skills, or any other sections you
 would like to add to your online resume-->
<!-- use list element if you are adding multiple things under each section
 such as Leadership, Skills -->